@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#mainCanvas, #mainVideo{
    position: absolute;
    top: 0px;
    left: 0px;
}

#mainVideo {
    width: 100%;
}