<section class="p-6 main-tab" id="trackTab">
    <div class="blankslate videoMissing" id="videoFinishedSection">
        <img class="mb-3" src="https://ghicons.github.com/assets/images/blue/png/CLI%20status%20check.png ">
        <h3 class="mb-1">No video has been loaded</h3>

        <button onclick="setTab('upload');" class="btn btn-primary my-3">Upload a video</button>

    </div>
    
    <button id="addCalibrationStick" onclick="setMode('calibration')" class="btn">Set calibration stick</button>
    <button onclick="addMass()" id="addMass" class="btn">Add point mass</button>

    <span class="verticalDivider"></span>

    <button disabled id="massTrackButton" onclick="setMode('mass')" id="addMass" class="btn">Track Mass</button>
    <select disabled id="massSelector" class="form-select" aria-label="Mass Selector">

    </select>

    <hr>
    <div id="mainVideoContainer">
        <video id="mainVideoDisplay">
            <source id="mainVideoDisplaySource">
        </video>
        <canvas onclick="canvasClick(event)" id="mainVideoCanvas">
            
        </canvas>
    </div>
    <div id="videoControls">
        <span id="videoProgress">
            <input class="form-control" onchange="setFrame(this.value)" id="videoProgressIndicator" style="width: 100%;" type="range" min="1" max="100" value="1">
        </span>
        <br>

        <span>
            <button onclick="setFrame(1)" class="btn">
                {% octicon arrow-left height:24 %}
            </button>

            <button onclick="previousFrame()" class="btn">
                {% octicon chevron-left height:24 %}
            </button>

            <button onclick="togglePlaying()" class="btn">
                <span style="display: initial" id="playIcon">{% octicon play height:24 %}</span>
                <span style="display: none" id="pauseIcon">{% octicon columns height:24 %}</span>
            </button>

            <button onclick="nextFrame()" class="btn">
                {% octicon chevron-right height:24 %}
            </button>

            <button onclick="setFrame(frameCount)" class="btn">
                {% octicon arrow-right height:24 %}
            </button>
        </span>
        <br>
        <p id="frameCounter">Frame 0 of NaN</p>
    </div>
</section>